<!DOCTYPE HTML>
<html>
<head>
  <title>{{site.title}}</title>
  <meta name="description" content="A guide for the Android game 'To Arms!!' by Latahunden." />	
  <meta property="og:url"
    content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <meta property="og:title" content="{{site.title}}" />
  <meta property="og:description" content="A guide for the Android game 'To Arms!!' by Latahunden." />
  <meta property="og:image" content="{{ site.url }}/to-arms-og-screenshot.png" />
  <link href="assets/css/main.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="icon" type="image/png" href="favicon.png" sizes="16x16" />
  <link rel="shortcut icon" href="{{ '/assets/images/favicon.ico'  | absolute_url }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500|Josefin+Sans:300,600" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>
<body class="pages">
<div class="nav">
    <label for="search"><img src="/assets/images/units/undefined.png"></label>
    <input list="cards" id="cards-choice" name="cards-choice" />
    <a href="{{ site.url }}/about.html">About</a>
    <a href="http://forum.toarms.games">Discussion</a>
    <a href="{{ site.url }}/contact.html">Contact</a>
</div>
<div class="header">
  <a href="{{ site.url }}"></a>
  <div class="title">
    <div class="subheader">
      <p>
        A fan site for the Android game 
        <a href="https://play.google.com/store/apps/details?id=com.latahunden.toarms">
          "To Arms!!"
        </a>
        by Latahunden.
      </p>
    </div>
    <h1 class="title"><span class="tutor-skull"></span> TO</h1>
    <h1 class="title"> ARMS!! GUIDE</h1>
  </div>
  <div class="big-image">
  </div>
</div>
<div class="main">
{% if content.size > 1 %}
<div class="container">
  {{ content}}
</div>
{% endif %}
<div class="container">
{% capture coin %}<span class="coin">g</span>{% endcapture %}
{% capture blood %}<span class="blood">b</span>{% endcapture %}
{% for card in site.data.cards %}
{% if card.type contains 'ITEM' %}
{% assign nametype = 'item' %}
{% elsif card.type contains 'MONSTER' or card.type contains 'SPELL' or card.type contains 'ACTION' %}
{% assign nametype = 'monster' %}
{% else %}
{% assign nametype = 'unit' %}
{% endif %}
{% if card.state %}
{%   assign state_group = card.name %}
{%   assign state = "data-state=" | append: card.state %}
{%   if card.state == 0 %}
{%     assign state_hidden = '' %}
{%   else %}
{%     assign state_hidden = 'style="display: none;"' %}
{%   endif %}
{% else %}
{% assign state_hidden = '' %}
{% assign state_group = '' %}
{% endif %}
<div id="{{ card.name | replace: ' ', '%20' }}" class="unit card {{ state_group }}" {{ state }} {{ state_hidden }}>
  <div class="{{ nametype }} card-name">{{ card.name }}</div>
  <div class="row">
    {% if card.type == 'ITEM' or card.type == 'SPELL' or card.type == 'ACTION' %}
    {% assign type = 'item' %}
    {% elsif card.type contains 'UPGRADE' %}
    {% assign type = 'upgrade' %}
    {% else %}
    {% assign type = 'unit' %}
    {% endif %}
    {% if card.name contains 'SCROLL' %}
    {% assign animated = 'animated ' %}
    {% else %}
    {% assign animated = 'non-animated' %}
    {% endif %}
    <div class="{{animated}} card-image" style='background: url("/assets/images/{{ type }}s/{{ card.slug }}.png") no-repeat;'></div>
    <div class="card-cost">
      <span class="coin cost">{{ card.coincost }}</span>
      <span class="blood cost">{{ card.bloodcost }}</span>
      <span class="skull cost">{{ card.skullcost }}</span>
      {% if card.status %}
      <br />
      <span class="status cost">{{ card.status }} </span>
      {% endif %}
    </div>
    {% assign longest_type = 0 %}
    {% assign types = card.type | split: " " %}
    {% for t in types %}
    {%     assign ilesstype = t | remove: "I" %}
    {%     if ilesstype.size > longest_type %}
    {%         assign longest_type = ilesstype.size %}
    {%     endif %}
    {% endfor %}
    {% if longest_type > 6 %}
    <div class="small card-type">{{ card.type }}</div>
    {% else %}
    <div class="card-type">{{ card.type }}</div>
    {% endif %}
  </div>
{% if card.pain %}
  <div class="card-pain">
    PAIN: {{ card.pain }}
  </div>  
{% endif %}
{% if card.trick %}
  <div class="small card-trick">
    TRICK: {{ card.trick | replace: "g", coin | replace: "b", blood }}
  </div>  
{% endif %}
{% if card.play %}
  {% if card.play.size < 9 %}
  <div class="big card-play">
  {% elsif card.play.size > 40 %}
  <div class="small card-play">
  {% else %}
  <div class="card-play">
  {% endif %}
    {{ card.play | replace: "g", coin | replace: "b", blood }}
  </div>
{% endif %}
{% if card.gain %}
  {% if card.gain.size > 25 %}
  <div class="small card-gain">
  {% else %}
  <div class="card-gain">
  {% endif %}
    BUY: {{ card.gain | replace: "g", coin | replace: "b", blood }}
  </div>
{% endif %}
{% if card.combo %}
  {% if card.combo.size > 40 %}
  <div class="small card-combo">
  {% else %}
  <div class="card-combo">
  {% endif %}
    COMBO: {{ card.combo | replace: "g", coin | replace: "b", blood }}
  </div>
{% endif %}
{% if card.flavor %}
  {% if card.flavor.size > 40 %}
  <div class="small card-flavor">
  {% else %}
  <div class="card-flavor">
  {% endif %}
    {{ card.flavor }}
  </div>
{% endif %}
{% if card.state %}
  <button type="button" class="animated state-btn" onclick="(function(){
    var states = document.getElementsByClassName('{{ card.name }}');
    var next_state = {{ card.state }} + 1;
    var return_to_start = true;
    [...states].forEach(function(card) {
      if (card.dataset['state'] > {{ card.state }}) {
        return_to_start = false;
      }
    });
    [...states].forEach(function(card) {
      if (return_to_start && card.dataset['state'] == 0) {
        card.style.display = 'block';
      } else if (card.dataset['state'] == next_state ) {
        card.style.display = 'block';
      } else {
        card.style.display = 'none';
      }
    });
    fitty.fitAll();
  })()">
  </button>
{% endif %}
</div>
{% endfor %}
</div>
</div>
<datalist id="cards">
  {% assign attributes = "" %}
  {% for card in site.data.cards %}
  {%   assign attributes = attributes | append: "value='" %}
  {%   assign attributes = attributes | append: card.name %}
  {%   assign attributes = attributes | append: "' data-slug=" %}
  {%   assign attributes = attributes | append: card.slug %}
  {%   assign attributes = attributes | append: ", " %}
  {% endfor %}
  {% assign card_list = attributes | split: ', ' | uniq %}
  {% for card in card_list %}
    <option {{card}} />
  {% endfor %}
</datalist>
<script src="assets/js/fitty.min.js"></script>
<script>
fitty('.card-name', {maxSize: 23, multiLine: false});
</script>
</body>
<script type="text/javascript">
  window.onload = function(){
    var list = document.getElementById('cards').children;
    var num = Math.floor(Math.random() * Math.floor(list.length));
    var name = list[num].dataset.slug;
    var img = document.getElementsByClassName('big-image')[0];
    img.style.background = "url('/assets/images/units/" + name + ".png";
    var select = document.getElementById('cards-choice');
    var go_to = function(anchor){
      location.href = "#";
      location.href = "{{ site.url }}#" + anchor;
    }
    select.addEventListener('change', function(e) {
      go_to(e.target.value);
    });
    select.addEventListener('keyup', function(e) {
      var input = e.target.value.toUpperCase();
      var found = "#";
      if (e.keyCode == 13) {
        e.preventDefault();
        if (input.length != 0) {
          for (n in list) {
            var v = list[n].value ? list[n].value : '';
            if (v.startsWith(input)) {
              found = v;
              break;
            }
          }
          if (found) {
            go_to(found);
          }
        }
      }
    });
    fitty.fitAll();
  }
</script>
</html>